# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
.next
build
out

# Environment
.env
.env.local
.env.*.local

# Turbo
.turbo

# Logs
*.log
loki-data/
grafana-data/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea

# Drizzle
drizzle/meta

# Test coverage
coverage
